.contenido {
    align-items: center;
    /* border: 1px solid; */
    width: 30vw;
    /* width: 30%; */
    margin: auto;
}
.listadoagenda {
    font-size: 30px;
    font-weight: bold;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
}
a:hover{
    color: green;
    border-bottom: 1px solid green;
}

